@CHARSET "UTF-8";

html { 
    overflow-y: scroll;
}
body{
    /*font-family: 'DejaVu Sans mono', mono;*/
    font-family: "DejaVu Sans", Verdana, sans-serif;
    font-size: 10pt;
    line-height: 1.5;
    color: #555;
    
    max-width: 800px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 2%;
    padding-right: 2%;

    cursor: default;
    
    background-color: white;
}

a {
    color: #555;
}

header{
    margin-top: 20px;
    margin-bottom: 30px;
}
header h1{
    display:inline;
        margin-bottom: 0;
}
header a{
    text-decoration: none;
    color: #555;
}
header .nav{
    text-transform: uppercase;
    list-style-type: none;
    display: block;
    padding-left: 0px;
    margin: 0 0 0 0;
    /*border-top: 1px solid #ddd; */
    border-bottom: 1px solid #ddd;
    text-align: right;
}
header .nav li{
    padding-left: 20px;
    display:inline-block;
    /*float: left;*/
}
/* our "sub heading" e.g. Articles in Category xyz*/
header h2{
    height: 50px;
    margin-top: 5px;
    margin-bottom: 25px;
}

#content{
    padding-top: 0px;
}
#content img{
    display: inline;
    max-width: 99%;
    margin-top: 5px;
    margin-right: 5px;
    box-shadow: 1px 1px 2px 2px #555;
}
#post-list{
    list-style-type: none;
    padding-left:0;
}
#post-list li{
    padding-bottom: 15px;
}
#post-list a{
    color: #555;
    text-decoration: none;
}
#post-list h3{
    margin-top: -5px;;
}
#post-list a:hover{
    text-decoration: underline;
}

.small{
    font-size: 80%;
}
.small a{
    text-decoration: none;
}
.small a:hover{
    text-decoration: underline;
}
blockquote{
	font-style: italic;
	border-left: 1px solid #ccc;
}
td{
    padding-right: 5px;
}

.thumbs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer{
    margin-top: 50px;
}
