@CHARSET "UTF-8";

html { 
    overflow-y: scroll;
}
body{
    /*font-family: 'DejaVu Sans mono', mono;*/
    font-family: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
    font-size: 10pt;
    line-height: 1.5;
    color: #555;
    
    max-width: 900px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 2%;
    padding-right: 2%;

    cursor: default;
    
    background-color: white;
}

a {
    color: #555;
}

h1,h2,h3,h4{
    font-family: "Lato", "Open Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
}

header{
    margin-top: 20px;
    margin-bottom: 50px;
}
header h1, header h2{
    display: inline;
    margin-bottom: 0;
}
h1{
    font-size: 1.7em;
}
h2{
    font-size: 1.5em
}
header a{
    text-decoration: none;
    color: #555;
}
header .nav{
    /*text-transform: uppercase;*/
    list-style-type: none;
    display: inline;
    float: right;
    padding-left: 0px;
    border-bottom: 1px solid #ddd;
    text-align: right;
}
header .nav li{
    padding-left: 20px;
    display:inline-block;
}

#content{
    padding-top: 0px;
}
#content img{
    display: inline;
    max-width: 99%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    
    float:left;
}
#post-list{
    list-style-type: none;
    padding-left:0;
}
#post-list li{
    padding-bottom: 15px;
}
#post-list a{
    color: #555;
    text-decoration: none;
}
#post-list h3{
    margin-top: -5px;;
}
#post-list a:hover{
    text-decoration: underline;
}

.small{
    font-size: 80%;
}
.small a{
    text-decoration: none;
}
.small a:hover{
    text-decoration: underline;
}
blockquote{
	font-style: italic;
	border-left: 1px solid #ccc;
}
td{
    padding-right: 5px;
}

.thumbs{
    clear: both;
    margin-top: 15px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.thumbs a{
    width: 33%;
}

@media (max-width: 600px) {
    .thumbs a{
        width: 49.5%;
    }
}
@media (max-width: 300px) {
    .thumbs a{
        width: 100%;
    }
}
.thumbs a img{
    margin: 0 !important;
    margin-top: 5px !important;
    width: 100%;
    max-width: 100%;

    -webkit-filter:     grayscale(100%);
    -moz-filter:        grayscale(100%);
    -o-filter:          grayscale(100%);
    -ms-filter:         grayscale(100%);
    filter:             grayscale(100%); 

    -webkit-transition: all 0.5s ease;
    -moz-transition:    all 0.5s ease;
    -o-transition:      all 0.5s ease;
    -ms-transition:     all 0.5s ease;
    transition:         all 0.5s ease;
}

.thumbs a img:hover {
    -webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
         -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
            filter: grayscale(0%); 
}



#copyrights{
    margin-top: 15px;
    font-size: 80%;
}
#copyrights i{
    float: left;
    font-size: 150%;
    margin-right: 20px;
}

footer{
    margin-top: 50px;
}
