{% extends "base.html" %}
{% block head %}
    <meta property="og:title" content="{{article.title }} - {{ SITENAME }}" />
  {% if article.description %}
    <meta name="description" property="og:description" contents="{{article.description}}" />
  {% endif %}
  {% if article.album %}
    <meta property="og:image" content="{{ SITEURL }}/images/gallery/{{ article.album }}/thumbnail_minisquare/{{ article.galleryimages[0].src }}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}
  {% if article.keywords %}
    <meta name="keywords" contents="{{article.keywords}}" />
  {% endif %}

{% endblock %}
{% block title %}
     {{article.title }} - {{ SITENAME }}
{% endblock title %}


{% block content %}
<section id="content" class="body">
  <div id="article_header">
    <span class="small">
        {{ article.locale_date }}
        <a href="{{ SITEURL }}/{{ article.category.url }}">@{{ article.category }}</a>
        {% if article.tags %}
            {% for tag in article.tags %}#<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a> {% endfor %}
        {% endif %}

        {% if article.modified %}
            (updated: {{ article.modified }})
        {% endif %}
        
        {% if article.status != "draft" and not NO_SOCIAL_BUTTONS %}
            &nbsp; &nbsp;
            <a href="mailto:?subject={{article.title}}&body={{ SITEURL }}/{{article.url}}" title="E-Mail"><i class="fa fa-envelope-o"></i></a> &nbsp;
            <a href="http://twitter.com/home?status={{article.title}}: {{ SITEURL }}/{{article.url}}" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>&nbsp;
            <a href="https://plus.google.com/share?url={{ SITEURL }}/{{article.url}}" target="_blank" title="Google+"><i class="fa fa-google-plus"></i></a>&nbsp;
            <a href="http://www.facebook.com/sharer.php?u={{ SITEURL }}/{{article.url}}&t={{article.title}}" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a>
        {% endif %}
        
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
    </span>
    <h1 class="entry-title">
      {{ article.title }}
    </h1>

  </div>

  <div class="entry-content">
    {{ article.content }}
    
    {% if article.album %}
    <div class="thumbs">
    {% for image in article.galleryimages %}
        <a  href="{{ SITEURL }}/images/gallery/{{ article.album }}/{{ image.src }}" 
            title="{{image.title}}">
            <img src="{{ SITEURL }}/images/gallery/{{ article.album }}/thumbnail_rectangle/{{ image.src }}"
                 alt="{{image.alt}}"
                 title="{{image.title}}">
        </a>
    {% endfor %}
    </div>
    <script> 
        $('.thumbs a').imageLightbox({
            allowedTypes:   'png|jpg|jpeg|gif',     // string;
            animationSpeed: 250,                    // integer;
            preloadNext:    true,                   // bool;            silently preload the next image
            enableKeyboard: true,                   // bool;            enable keyboard shortcuts (arrows Left/Right and Esc)
            quitOnEnd:      false,                  // bool;            quit after viewing the last image
            quitOnImgClick: false,                  // bool;            quit when the viewed image is clicked
            quitOnDocClick: true,                   // bool;            quit when anything but the viewed image is clicked
            onStart:        function(){overlayOn(); },                  // function/bool;   calls function when the lightbox starts
            onEnd:          function(){overlayOff(); },                 // function/bool;   calls function when the lightbox quits
            onLoadStart:    false,                  // function/bool;   calls function when the image load begins
            onLoadEnd:      false                   // function/bool;   calls function when the image finishes loading
        });
    </script>
    {% endif %}
    
    {% if article.copyright %}
    <div id="copyrights">
        <table>
            <tr>
                <td valign="top">
                    <i class="fa fa-copyright"></i>
                </td>
                <td>
                    {{ article.copyright }}
                </td>
            </tr>
        </table>
    </div>
    {% endif %}

    
  </div><!-- /.entry-content -->
</section>
{% endblock %}
