<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8"> 
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/favicon.png" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments_zenburn.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <script language="javascript" type="text/javascript" src="{{ SITEURL }}/theme/js/imagelightbox/imagelightbox.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ SITEURL }}/theme/js/imagelightbox/imagelightbox.extras.js"></script>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/js/imagelightbox/imagelightbox.css" />
    
    
    <title> 
        {% block title %} {{ SITENAME }} {% endblock title %}
    </title>
        {% block head %}
        {% endblock head %}

        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
</head>     

<body id="index" class="home">

    <header>
        <a href="{{ SITEURL }}">
            <h1>{{ SITENAME }}</h1>   
        </a>
        
        <ul class="nav">
				{% for title, link in MENUITEMS %}
					<li><a href="{{ link }}">{{ title }}</a></li>
				{% endfor %}
				{% if DISPLAY_PAGES_ON_MENU %}
					{% for page in PAGES %}
						<li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
					{% endfor %}
				{% endif %}
				{% for cat, null in categories %}
					<li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
				{% endfor %}
        </ul>
        
        <h2>
            {% block content_title %}
            {% endblock %}
        </h2>       
    </header>
        
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
