{% extends "base.html" %}
{% block content %}
<section id="content">

{% if INDEX_USE_THUMBS %}
    <div class="indexthumbs">
    {% for article in articles_page.object_list %}
        <a  href="{{ SITEURL }}/{{ article.url }}">
            {% if article.image %}
            <img src="{{ SITEURL }}/images/thumbnail_rectangle/{{ article.image }}"
                alt="{{article.description}}"
                title="{{article.description}}">
            {% elif article.album %}
            <img src="{{ SITEURL }}/images/gallery/{{ article.album }}/thumbnail_rectangle/{{ article.galleryimages[0].src }}"
                alt="{{article.galleryimages[0].alt}}"
                title="{{article.galleryimages[0].title}}">
            {% else %}
            <img src="{{ SITEURL }}/theme/dummy_rectangle.jpg">
            {% endif %}
                <div class="articleinfos">
                        <h3>{{ article.title }}</h3>
                </div>
        </a>
    {% endfor %}
    </div>

{% else %}

    <ul id="post-list">
    {% for article in articles_page.object_list %}
            <li>
            	{% if SHOW_TEASER_IMAGES %}
            	<div class="teaserimage">
            		{% if article.album %}
    				<img src="{{ SITEURL }}/images/gallery/{{ article.album }}/thumbnail_minisquare/{{ article.galleryimages[0].src }}"
                     	alt="{{article.galleryimages[0].alt}}"
                     	title="{{article.galleryimages[0].title}}">
                    {% else %}
                    <img src="{{ SITEURL }}/theme/dummy.jpg">
            		{% endif %}
            	</div>
            	{% endif %}
            	<div class="articleinfos">
                	<span class="small">
                    {{ article.locale_date }}
                    <a href="{{ SITEURL }}/{{ article.category.url }}">@{{ article.category }}</a>
                    {% if article.tags %}
                        {% for tag in article.tags %}#<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a> {% endfor %}
                    {% endif %}	
                	</span>
                	<a href="{{ SITEURL }}/{{ article.url }}" 
                		rel="bookmark" 
                		title="Permalink to {{ article.title|striptags }}">
                	    <h3>{{ article.title }}</h3>
                	</a>
    			</div>
                
            </li>
    {% endfor %}
    </ul><!-- /#posts-list -->
{% endif %}

{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
